// colors 
$black: #171717;
$gray-dark: #202020;
$gray: #676767;
$white: #FCFCFA;
$red: #ef151e;
$yellow: #cbb17f;
$yellow-dark: #cbb17f;
$blue: #3498db;


$btn-color: $blue;
$btn-disabled: $yellow-dark;