// Breakpoints
$mobile-lower-breakpoint: 320px;
$mobile-upper-breakpoint: 425px;
$tablet-lower-breakpoint: 600px;
$tablet-upper-breakpoint: 768px;
$desktop-lower-breakpoint: 1024px;
$desktop-upper-breakpoint: 1440px;

// Max and Min Width
$container-max-width: 1280px;
$container-min-width: 300px;

.container {
  width: 100%;
  max-width: $container-max-width;
  min-width: $container-min-width;
}

.two-column-layout {
  display: flex;
  min-width: 100%;

  @media(max-width: $tablet-lower-breakpoint) {
    flex-direction: column;
  }
  @media(min-width: $tablet-lower-breakpoint) {
    flex-direction: row;
  }

  .col-1 {
    @media(max-width: $tablet-lower-breakpoint) {
      min-width: 100%;
      margin-right: 0px;
      margin-bottom: 30px;
    }
     @media(min-width: $tablet-lower-breakpoint) {
      min-width: calc(50% - 30px);
      margin-right: 30px;
      order: 0;
      display: flex;
      flex-direction: column;
    }
  }

  .col-2 {
    display: flex;
    flex-direction: column;

    @media(max-width: $tablet-lower-breakpoint) {
      min-width: 100%;
    }
     @media(min-width: $tablet-lower-breakpoint) {
      min-width: 50%;
      order: 1;
    }
  }
}